.camera {
}

.camera  video {
    display: none;
  }
.camera  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }

.cameraControls {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: fixed;
}
